.aboutMainDiv {
  background-color: #1b75bb;
  width: 100vw;
  height: 110vh;
}

.upper-row {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 40px;
}

.aboutContentDiv {
  padding-top: 12vh;
  height: 110vh;
  display: grid;
  grid-template-rows: 1fr 1fr;
}

.first-pic {
  max-height: 80%;
}

.aboutTitle {
  color: white;
  font-size: 2rem;
  text-decoration: underline;
  text-underline-offset: 1rem;
  text-decoration-thickness: 0.18rem;
  color: #ffffff;
  padding-bottom: 3%;
}

.aboutContent {
  font-weight: 500;
  color: white;
  line-height: 2;
}
