.aboutMainDiv {
  background-color: #1b75bb;
  width: 100vw;
}

.upper-row {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 40px;
}

.aboutContentDiv {
  padding-top: 12vh;
  display: grid;
  grid-template-rows: 1fr 0.75fr;
  grid-gap: 2rem;
}

.first-pic {
  max-height: 80%;
  top: 2%;
}

.aboutTitle {
  color: white;
  font-size: 2rem;
  text-decoration: underline;
  text-underline-offset: 1rem;
  text-decoration-thickness: 0.18rem;
  color: #ffffff;
  padding-bottom: 3%;
}

.aboutContent {
  font-weight: 500;
  color: white;
  line-height: 2;
  font-size: 1.1em;
}

@media only screen and (max-width: 991px) {
  .upper-row {
    grid-template-columns: none;
    grid-gap: 0;
  }

  .bottom-row {
    display: grid;
  }
  .small-img {
    padding-bottom: 2%;
  }
}
