.blogsContainer {
  margin-top: 15vh;
  margin-bottom: 10vh;
}

.blogsRow {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 40px;
}

.blogsHeader {
  text-align: center;
  color: rgb(60, 59, 59);
}

.imgHeight {
  width: 100%;
  height: 10rem;
}

.contextHeight {
  height: 10rem;
  /* height: 100%; */
}

.inlineImg {
  width: 45%;
  float: left;
  margin-right: 1rem;
}

.inlineText {
  width: 60%;
  float: left;
  margin: 1.5rem;
}