.blogsContainer {
  margin-top: 15vh;
  margin-bottom: 10vh;
}

.blogsRow {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 40px;
}

.blogsHeader {
  text-align: center;
  color: rgb(60, 59, 59);
}

.imgHeight {
  width: 100%;
  height: 10rem;
}

.contextHeight {
  height: 10rem;
  /* height: 100%; */
}

/* .inlineImg {
  width: 45%;
  float: left;
  margin-right: 1rem;
} */

.inlineText {
  width: 60%;
  float: left;
  margin: 1.5rem;
}

@media (min-width: 992px) {
  .inlineImg {
    width: 45%;
    float: left;
    margin-right: 1rem;
  }
}

/* If the screen size is smaller than 1200px, set the font-size to 80px */
@media (max-width: 992px) {
  .inlineImg {
    width: 100%;
    float: left;
    margin-right: 1rem;
  }
}