.galleryRow {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 2.5rem;
}

.galleryCol {
  padding-top: 3rem;
}

.galleryContainer {
  margin-top: 15vh;
  margin-bottom: 10vh;
  padding-left:5%;
  padding-right:5%
}

.galleryHeader {
  text-align: center;
  color: rgb(60, 59, 59);
}

.imageCaption {
  padding-top: 2%;
  padding-bottom: 0;
  margin-bottom: 0;
  font-size: 1.2rem;
  font-weight: 600;
  color: rgb(60, 59, 59);
}

.paginateDiv {
  padding-top: 5%;
}


@media screen and (max-width:879px) {
  .galleryContainer{
    padding-left:1%;
    padding-right:1%
  }
  .galleryRow{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  .galleryCol{
    flex-basis: 40%;
  }
}

@media screen and (max-width:699px) {
  .galleryContainer{
    padding-left:0;
    padding-right:0;
  }
  .galleryRow{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  .galleryCol{
    flex-basis: 50%;
  }
  .imageCaption{
    font-size: 1em;
  }
}