@import url("https://fonts.googleapis.com/css2?family=DM+Sans&family=Noto+Sans:wght@300;400;500;600;900&family=Open+Sans:wght@300&family=PT+Sans&family=Poppins:wght@100;400&display=swap");

* {
  font-family: "Noto Sans", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-weight: 600;
}

@media (min-width: 768) {
  [class*="col-"] {
    width: 100%;
  }
}

#mainNavbar {
  padding-top: 1%;
  padding-bottom: 1%;
}

nav {
  padding-bottom: 12%;
}

.navAll {
  background-color: #1b75bb;
  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}

img {
  width: 50px;
  height: 50px;
}

.logoSpan {
  padding-right: 1.5%;
}

.navbar-brand {
  font-size: 1.5rem;
  font-weight: 600;
  color: #ffffff;
}

#navLinks {
  justify-content: end;
  padding-right: 2%;
}

.nav-link {
  font-size: 1.1rem;
  font-weight: 600;
  color: #ffffff;
  padding-right: 2%;
  white-space: nowrap;
}

.navbrand-link {
  font-size: 1.5rem;
  font-weight: 600;
  color: #ffffff;
  outline: none;
  text-decoration: none;
}

.navbrand-link:hover,
.navbrand-link:focus,
.navbrand-link:active {
  font-size: 1.5rem;
  font-weight: 600;
  color: #ffffff;
  outline: none;
  text-decoration: none;
}

.nav-link:hover {
  white-space: nowrap;
  text-decoration: underline;
  text-underline-offset: 1rem;
  text-decoration-thickness: 0.15rem;
  color: #ffffff;
}

.nav-link:focus,
.nav-link:active {
  text-decoration: underline;
  text-underline-offset: 1rem;
  text-decoration-thickness: 0.15rem;
  color: #fffeff;
  outline: none;
}

.joinClass {
  padding-right: 1%;
  padding-left: 1%;
}

.joinClass,
.donateClass {
  margin: auto;
}
.joinBtn,
.donateBtn {
  background-color: #fff;
  border: 1px solid #d5d9d9;
  border-radius: 8px;
  box-sizing: border-box;
  color: #0f1111;
  cursor: pointer;
  display: inline-block;
  line-height: 29px;
  padding: 0 10px 0 11px;
  position: relative;
  text-align: center;
  text-decoration: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: middle;
  width: 100px;
}

.close,
.menu {
  display: none;
}

.joinBtn:hover,
.donateBtn:hover {
  background-color: #fb8500;
  color: white;
}

.joinBtn:focus,
.donateBtn:focus {
  border-color: #64ccdc;
  box-shadow: rgba(213, 217, 217, 0.5) 0 2px 5px 0;
  outline: 0;
}

.dropdown-item {
  cursor: pointer;
}

.searchIcon {
  color: white;
  cursor: pointer;
}
.searchIcon:hover {
  color: #fb8500;
  cursor: pointer;
}
.searchIconSpan {
  padding-left: 2%;
}

/* Responsive screen */
@media only screen and (max-width: 768px) {
  #navLinks {
    padding-top: 3vh;
    display: inline-block;
    line-height: 6vh;
    text-align: center;
  }

  .joinClass,
  .donateClass {
    padding-top: 1vh;
    padding-bottom: 1vh;
  }

  .navbar > .container-xl {
    justify-content: center;
  }

  .navAll {
    top: -90%;
    position: fixed;
    min-width: 100%;
    height: 100vh;
    background-color: #1b75bb;
  }

  .navAll.active {
    top: 0;
    position: fixed;
    min-width: 100%;
    height: 100vh;
    background-color: #1b75bb;
    transition: 1s ease;
  }
  .close {
    display: initial;
    color: white;
    float: right;
    cursor: pointer;
  }

  .close:hover {
    color: #fb8500;
  }

  .menu {
    display: initial;
    color: white;
    cursor: pointer;
  }
  .menu.close {
    display: none;
  }
}

/* footer css */
.footerContainer {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 40px;
  align-items: center;
  padding-left: 7%;
  padding-right: 7%;
}
.footer {
  background-color: #1b75bb;
  color: white;
  height: 40vh;
}

.logoDiv {
  width: 5rem;
  height: 8rem;
  padding-bottom: 2%;
}
.footer1,
.footer2,
.footer3 {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 30vh;
}

.footerText {
  font-size: 1rem;
  font-weight: 200;
}

.footerH1,
.footerH2,
.footerH3 {
  font-size: 1.5rem;
}

.footer1 {
  border-right: 1px solid rgb(214, 223, 214);
}

.footer3 {
  border-left: 1px solid rgb(214, 223, 214);
}
.horizontalLine {
  width: 20rem;
  height: 5rem;
  border-top: 1px solid rgb(214, 223, 214);
  margin-top: 2%;
  margin-bottom: 2%;
  border-bottom: 1px solid rgb(214, 223, 214);
  display: flex;
  justify-content: center;
  align-items: center;
}

.donateSpan {
  padding-right: 2%;
}

.footer__socialList li {
  display: inline-block;
  margin: 0 0.5rem;
  /* border-radius: 50%; */
}

.iconClass {
  font-size: 2rem;
}

.iconDiv {
  margin-top: 1.2rem;
  width: 3rem;
  height: 3rem;
  border-radius: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
}

ul.footer__usefulList {
  list-style-type: none;
}

.footer__usefulList a {
  color: white;
}

.footerBottom{
  border-top: 1px solid rgb(214, 223, 214);
  padding-left: 5rem;
  padding-right: 5rem;
  padding-top: 2%;
}

.copyright{
  font-weight: 500;
}