@import url("https://fonts.googleapis.com/css2?family=DM+Sans&family=Noto+Sans:wght@300;400;500;600;900&family=Open+Sans:wght@300&family=PT+Sans&family=Poppins:wght@100;400&display=swap");

* {
  font-family: "Noto Sans", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-weight: 600;
}

#mainNavbar {
  padding-top: 1%;
  padding-bottom: 1%;
}

nav {
  padding-bottom: 12%;

}

.navAll {
  background-color: #1b75bb;
  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}

img {
  width: 50px;
  height: 50px;
}

.logoSpan {
  padding-right: 1.5%;
}

.navbar-brand {
  font-size: 1.5rem;
  font-weight: 600;
  color: #ffffff;
}

#navLinks {
  justify-content: end;
  padding-right: 2%;
}

.nav-link {
  font-size: 1.1rem;
  font-weight: 600;
  color: #ffffff;
  padding-right: 2%;
}

.navbrand-link {
  font-size: 1.5rem;
  font-weight: 600;
  color: #ffffff;
  outline: none;
  text-decoration: none;
}

.navbrand-link:hover,
.navbrand-link:focus,
.navbrand-link:active {
  font-size: 1.5rem;
  font-weight: 600;
  color: #ffffff;
  outline: none;
  text-decoration: none;
}

.nav-link:hover {
  text-decoration: underline;
  text-underline-offset: 1rem;
  text-decoration-thickness: 0.15rem;
  color: #ffffff;
}

.nav-link:focus,
.nav-link:active {
  text-decoration: underline;
  text-underline-offset: 1rem;
  text-decoration-thickness: 0.15rem;
  color: #fffeff;
  outline: none;
}

.joinClass {
  padding-right: 1%;
}

.joinBtn,
.donateBtn {
  background-color: #fff;
  border: 1px solid #d5d9d9;
  border-radius: 8px;
  box-sizing: border-box;
  color: #0f1111;
  cursor: pointer;
  display: inline-block;
  line-height: 29px;
  padding: 0 10px 0 11px;
  position: relative;
  text-align: center;
  text-decoration: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: middle;
  width: 100px;
}

.joinBtn:hover,
.donateBtn:hover {
  background-color: #fb8500;
  color: white;
}

.joinBtn:focus,
.donateBtn:focus {
  border-color: #64ccdc;
  box-shadow: rgba(213, 217, 217, 0.5) 0 2px 5px 0;
  outline: 0;
}

.dropdown-item {
  cursor: pointer;
}
