@import url("https://fonts.googleapis.com/css2?family=DM+Sans&family=Noto+Sans:wght@300;400;500;600;900&family=Open+Sans:wght@300&family=PT+Sans&family=Poppins:wght@100;400&display=swap");

.body {
  position: relative;
  color: #000000;
  font-weight: lighter;
  font-size: 15px;
  text-align: justify
}

.banner {
  background-color: #fff;
  height: 130vh;
  border-bottom: 1px solid #fff;
}

@media (max-width: 992px) {
  .banner {
    background-size: 100%;
    height: auto;
    margin-top: 40px;
  }
}

@media (min-width: 993px) {
  .container {
    max-width: 960px;
  }
}

@media (min-width: 1200px) {
  .container {
    max-width: 1140px;
  }
}

.container {
  width: 100%;
  margin-right: auto;
  margin-left: auto;
}

.header {
  text-align: center;
  position: relative;
  color: #1b75bb;
  font-size: 34px;
  font-weight: bold;
  padding-top: 13%;

}

.sections {
  display: flex;
  flex-direction: column;
  /* flex-wrap: wrap; */

}

.subSection {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding: 2em;
  flex-wrap: wrap;
}

@media (max-width: 992px) {
  .subSection {
    flex-direction: column;
    align-items: center ;
    padding: 1.5em;
  }
}

.label {
  color: #1b75bb;
  text-align: center;
}
.leftSection {
  max-width: 30%;
  display: flex;
  flex-direction: column;
  align-items: center;

}

@media (max-width: 992px) {
  .button {
    margin-bottom: 1em;
  }
}


.rightSection {
  width: 50%;
}
.button {
  background-color: #1b75bb;
  color: #fff;
  border-radius: 5px;
  border: #1b75bb;
  min-width: 200px;
}
.section {
  min-width: 600px;
  width: 100vw;
  height: 100vh;
  padding-top: 10%;
  background-color: #fff;
  border-bottom: 1px solid #fff;
}
