.containerCause {
  padding-top: 7%;
}

.joinDiv {
  background-color: #f7feff;
  height: 80vh;
}

.join-row {
  padding-top: 5vh;
}

.joinCauseTitle {
  font-size: 2rem;
  text-decoration: underline;
  text-underline-offset: 1rem;
  text-decoration-thickness: 0.18rem;
  color:rgb(6, 67, 128);
  padding-bottom: 5%;
  text-align: center;
}

.join-title {
  font-size: 1.5rem;
  padding-bottom: 10%;
  color: rgb(6, 67, 128);
}

.join-col-div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.circle {
  width: 13rem;
  height: 13rem;
  border-radius: 50%;
  background-color: rgb(215, 236, 254);
  display: flex;
  justify-content: center;
}
.crowd-icon,
.funding-icon,
.collab-icon {
  height: 12vh;
  width: 12vw;
  padding: 2% 2% 2% 2%;
  margin: auto;
  color: #1b75bb;
}

.starts-logo {
  /* height: 12vh; */
  /* width: 5vw; */
  padding: 2% 2% 2% 2%;
  margin: auto;
  transform: translateX(0.2vw);
}

.bottom-title {
  padding-top: 10%;
  font-size: 1.4rem;
  color: rgb(6, 67, 128);
}
