.containerLifeContent {
    padding-top: 1%;
  }
  
  .lifeContent-row {
    padding-top: 2vh;
  }
  
  .LifeContentTitle {
    font-size: 2rem;
    text-decoration: underline;
    text-underline-offset: 1rem;
    text-decoration-thickness: 0.18rem;
    color: rgb(255, 255, 255);
    padding-bottom: 5%;
    padding-top: 2%;
    text-align: center;
  }
  
  .life-content-title {
    font-size: 1.5rem;
    padding-bottom: 10%;
    color: rgb(255, 255, 255);
  }
  
  .life-col-div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .circle {
    width: 10rem;
    height: 10rem;
    border-radius: 50%;
    background-color: white;
    display: flex;
    justify-content: center;
  }

  .life-content-logo {
    padding: 2% 2% 2% 0%;
    margin: auto;
    border-radius: 50%;
    width: 15em;
    height: 10em;
    justify-content: center;
  }

  .lifeActivities {
    background-color: #b3cee5;
    border-radius: 0.3em;
  }

  /* .projPaginate {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
  } */

  .life-right-arrow {
    /* padding-right: 32px; */
    /* position: relative; */
    /* padding-top: 50%; */
    font-size: 2rem;
    cursor: pointer;
    user-select: none;
}

.life-left-arrow {
    /* padding-left: 32px; */
    font-size: 2rem;
    cursor: pointer;
    user-select: none;
}

.projText {
  padding: 1em 1.5em 1.5em 1.5em;
}