.containerLifeContent {
  padding-top: 3%;
}

.lifeContent-row {
  padding-top: 2vh;
}

.LifeContentTitle {
  font-size: 2rem;
  text-decoration: underline;
  text-underline-offset: 1rem;
  text-decoration-thickness: 0.18rem;
  color: rgb(255, 255, 255);
  padding-bottom: 5%;
  text-align: center;
}

.life-content-title {
  font-size: 1.5rem;
  padding-bottom: 10%;
  color: rgb(255, 255, 255);
}

.life-col-div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.circle {
  width: 10rem;
  height: 10rem;
  border-radius: 50%;
  background-color: white;
  display: flex;
  justify-content: center;
}

.life-content-logo {
  padding: 2% 2% 2% 2%;
  margin: auto;
  border-radius: 50%;
  width: 10em;
  height: 10em;
  justify-content: center;
}
