.containerMission {
  padding-top: 2%;
  padding-left: 3%;
  padding-right: 3%;
}
.mission-rows {
  display: flex;
}
.MissionDiv {
  background-color: #f7feff;
  height: 50vh;
}
.missionTitle,
.visionTitle,
.goalTitle {
  color: rgb(6, 67, 128);
  font-size: 2em;
  text-decoration: underline;
  text-underline-offset: 1rem;
  text-decoration-thickness: 0.18rem;
  padding-bottom: 5%;
  text-align: center;
}
.mis-icon {
  padding-left: 1%;
}

.vision-p,
.mission-p,
.goal-p {
  color: #cecece;
  padding-left: 10%;
  padding-right: 10%;
  color: rgb(20, 1, 82);
  font-size: 1.1em;
  text-align: left;
  line-height: 2;
}

.row-box {
  background-color: #ebf4fb;
  margin: 2%;
  padding-top: 2%;
  width: 50vw;
  height: 40vh;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

@media only screen and (max-width: 980px) {
  .missionTitle,
.visionTitle,
.goalTitle {
  color: rgb(6, 67, 128);
  font-size: 1.5em;
  text-decoration: underline;
  text-underline-offset: 1rem;
  text-decoration-thickness: 0.18rem;
  padding-bottom: 5%;
  text-align: center;
}
  .vision-p,
.mission-p,
.goal-p {
  color: #cecece;
  padding-left: 10%;
  padding-right: 10%;
  color: rgb(20, 1, 82);
  font-size: 1em;
  text-align: left;
  line-height: 2;
}

}

@media only screen and (max-width: 853px) {
  .missionTitle,
.visionTitle,
.goalTitle {
  color: rgb(6, 67, 128);
  font-size: 1.2em;
  text-decoration: underline;
  text-underline-offset: 1rem;
  text-decoration-thickness: 0.18rem;
  padding-bottom: 5%;

}
  .vision-p,
.mission-p,
.goal-p {
  color: #cecece;
  padding-left: 5%;
  padding-right: 5%;
  color: rgb(20, 1, 82);
  font-size: 1em;
  line-height: 2;
  margin: auto;
}

}

@media only screen and (max-width: 768px) {
  .row-box{
    width: 50vw;
  }
  .MissionDiv{
    height:auto;

  }
  .mission-rows {
  display: grid;
  justify-content: center;
  
}
  .missionTitle,
.visionTitle,
.goalTitle {
  color: rgb(6, 67, 128);
  font-size: 1.5em;
  text-decoration: underline;
  text-underline-offset: 1rem;
  text-decoration-thickness: 0.18rem;
  padding-top:5%;
  padding-bottom: 5%;
  text-align: center;
}
  .vision-p,
.mission-p,
.goal-p {
  color: #cecece;
  padding-left: 5%;
  padding-right: 5%;
  color: rgb(20, 1, 82);
  font-size: 1.1em;
  text-align: center;
  line-height: 2;
}

}

@media only screen and (max-width: 480px) {
  .row-box{
    width: 100%;
  }
  .MissionDiv{
    padding-top: 10%;
    height:auto;
  }
  .mission-rows {
  display: grid;
  justify-content: center;
  
}
  .missionTitle,
.visionTitle,
.goalTitle {
  color: rgb(6, 67, 128);
  font-size: 1.5em;
  text-decoration: underline;
  text-underline-offset: 1rem;
  text-decoration-thickness: 0.18rem;
  padding-bottom: 5%;
  text-align: center;
}
  .vision-p,
.mission-p,
.goal-p {
  color: #cecece;
  padding-left: 5%;
  padding-right: 5%;
  color: rgb(20, 1, 82);
  font-size: 1.1em;
  text-align: center;
  line-height: 2;
}

}