.newsContainer {
  margin-top: 15vh;
  margin-bottom: 10vh;
}

.newsRow {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 40px;
}

.newsHeader {
  text-align: center;
  color: rgb(43, 80, 183);
}

.newsDateDiv,
.newsDate {
  padding-top: 2%;
  padding-bottom: 0;
  margin-bottom: 0;
}

.newsDate {
  color: rgb(60, 59, 59);
  font-weight: 200;
}

.newsTitle {
  font-size: 1.2rem;
  font-weight: 400;
}
.newsTitle:hover {
  cursor: pointer;
  text-decoration: underline;
  text-underline-offset: 3px;
}
