.newsContainer {
  padding-left: 5%;
  padding-right: 5%;
  margin-top: 15vh;
  margin-bottom: 10vh;
}

.newsRow {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 40px;
}

.newsHeader {
  text-align: center;
  color: rgb(60, 59, 59);
}

.newsTitleDiv,
.newsTitle {
  padding-top: 2%;
  padding-bottom: 0;
  margin-bottom: 0;
}

.newsDate {
  color: rgb(60, 59, 59);
  font-weight: 200;
}

.newsTitle {
  font-size: 1.2rem;
  font-weight: 600;
  color: rgb(60, 59, 59);
}
.newsTitle:hover {
  cursor: pointer;
  text-decoration: underline;
  text-underline-offset: 3px;
}

@media screen and (max-width: 890px) {
  .newsContainer {
    padding-left: 3%;
    padding-right: 3%;
  }
  .newsRow {
    grid-template-columns: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  .newsCol {
    flex-basis: 40%;
  }

  .newsTitle,
  .newsDate {
    font-size: 1em;
  }
}

@media screen and (max-width: 599px) {
  .newsContainer {
    padding-left: 0;
    padding-right: 0;
  }
  .newsCol {
    flex-basis: 50%;
  }
  .imgs{
    max-width: 100%;
    height:auto
  }
  .newsTitle,
  .newsDate {
    font-size: 1em;
  }

  .newsHeader {
    padding-bottom: 10%;
  }
}

@media screen and (max-width: 400px) {
  .newsRow{
    width: 100vw;
  }

  .newsContainer{
    width: 100vw;
  }

  .newsCol {
    flex-basis: 50%;
  }
  .imgs{
    max-width: 100%;
    height:auto
  }
  .newsTitle,
  .newsDate {
    font-size: 1em;
  }

  .newsHeader {
    padding-bottom: 10%;
  }
}