.ourTeamMainDiv {
  background-color: #1b75bb;
  width: 100vw;
  /* height: 105vh; */
  padding-bottom: 5%;
}

.ourTeamBannerColor {
  background-image: linear-gradient(to right, #ffffff, #92aaeb);
  /*Left to Right Gradient*/
  text-align: center;
  color: #ffffff;
  /* font-size: 2rem; */
}

.outTeamTitle {
  color: white;
  font-size: 2rem;
  text-decoration: underline;
  text-underline-offset: 1rem;
  text-decoration-thickness: 0.18rem;
  color: #ffffff;
  padding-bottom: 5%;
  text-align: center;
}

.memberMainPic {
  max-width: 100%;
  height: 100%;
}

.memberPic {
  max-width: 100%;
  height: 26vh;
}

.ourTeamText {
  width: 80%;
}

.memberIntro {
  --bs-bg-opacity: 0.3;
  background-color: rgba(0, 0, 0, var(--bs-bg-opacity)) !important;
}

.ourTeamScrollbar {
  overflow-y: scroll;
  height: 65vh;
}

.ourTeamScrollbar::-webkit-scrollbar {
  width: 7px;
}

.ourTeamScrollbar::-webkit-scrollbar-button {
  background: transparent;
  border-radius: 4px;
}

.ourTeamScrollbar::-webkit-scrollbar-track-piece {
  background: transparent;
}

.ourTeamScrollbar::-webkit-scrollbar-thumb {
  border-radius: 4px;
  background-color: #ffffff;
  border: 1px solid #ffffff;
}

.ourTeamScrollbar::-webkit-scrollbar-track {
  box-shadow: transparent;
}

.generalOverflow {
  display: -webkit-box;
  -webkit-line-clamp: 5;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.mainOverflow {
  display: -webkit-box;
  -webkit-line-clamp: 13;
  -webkit-box-orient: vertical;
  overflow: hidden;
}