.ProjectMainDiv {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.ProjectContent {
  padding-top: 87px;
  padding-left: 1rem;
  padding-right: 1rem;
  padding-bottom: 1rem;
}

.ProjectMidContainer {
  display: flex;
  flex-direction: column;
}
