.proj-top-container {
  margin: 2rem;
}

.ProjectHeader {
  color: #1b75bb;
  font-size: max(4vh, 2em, 2rem);
  text-decoration: underline;
  text-underline-offset: 0.55rem;
  text-decoration-thickness: 0.18rem;
  padding-bottom: 3%;
  padding-top: 0.5em;
  text-align: center;
}

.row.proj-top-row {
  display: flex;
}

.proj-top-left {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.proj-top-right {
  color: black;
}

.proj-description {
  font-size: clamp(14px, 1.5vw, 16px);
  line-height: 2;
}