.containerNews {
  padding-top: 13vh;
  /* padding-left: 10vw;
  padding-right: 10vw; */
}

.mainDiv {
  background-color: #1b75bb;
  width: 100vw;
  height: 100vh;
}
.containerNews {
  padding-left: 10%;
  padding-right: 10%;
}

.recentNewsTitle {
  color: white;
  font-size: 2rem;
  text-decoration: underline;
  text-underline-offset: 1rem;
  text-decoration-thickness: 0.18rem;
  color: #ffffff;
  padding-bottom: 5%;
  text-align: center;
}

.news-row{
  display: flex;
  gap:2%
}
.imgs {
  width: 100%;
  height: 40vh;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  cursor: pointer;
}

/*caption of images*/
.caption-div {
  padding-top: 3%;
  display: flex;
  font-size: 1.15rem;
}

.date-div {
  background-color: rgb(5, 4, 48);
  color: #ffffff;
  margin-right: 10px;
  display: block;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  padding: 1% 3% 1% 3%;
}

.day-div {
  font-size: 1.2rem;
  text-align: center;
}

.month-div {
  font-size: 1.3rem;
  text-align: center;
  font-weight: 900;
}

.year-div {
  font-size: 1.1rem;
  text-align: center;
}

.caption {
  color: white;
  display: flex;
  align-items: center;
  padding-left: 2%;
}

.caption:hover {
  cursor: pointer;
  text-decoration: underline;
  text-underline-offset: 3px;
}

.hrNews {
  transform: translateY(15vh);
}

.moreNewsp {
  white-space: nowrap;
  color: #c6c5c5;
  text-decoration: underline;
  text-underline-offset: 3px;
  font-size: 1.2rem;
  position: fixed;
  right: 0;
}

.moreNewsp:hover {
  cursor: pointer;
  color: #ffffff;
}

.newsRow {
  transform: translateY(5vh);
}

@media screen and (max-width: 768px) {
  .containerNews {
    padding-left: 5%;
    padding-right: 5%;
  }


  .day-div {
    font-size: 0.9em;
  }

  .month-div {
    font-size: 0.9em;
    font-weight: 600;
  }

  .year-div {
    font-size: 0.9em;
  }
  .caption {
    font-size: 0.9em;
  }
  .moreNewsp {
    font-size: 1em;
  }
}

@media screen and (max-width: 598px) {
 .mainDiv{
  height:auto;
 }
  .news-row{
    display:flex;
    flex-direction: column;
  }
  .news-col{
    padding-bottom: 10%;
  }
  .newsRow{
    transform: translateY(-5vh);
    display: flex;
     justify-content: center;
    align-items: center ;
  }
  .moreNews{
    padding-top: 5%;
    padding-bottom: 5%;
    
  }
  .moreNewsp{
   right:5%
  }
  
}