.searchInput {
  position: relative;
  width: 100%;
  font-size: 1.8rem;
  padding: 1rem;
  border-radius: 4px;
  border: none;
  outline: none;
}

input[type="text"]:focus {
  border: 3px solid rgb(0, 63, 235);
}

/* .searchIcon {
  position: absolute;
  width: 20px;
  height: 20px;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  color: var(--primary);
} */

@media only screen and (max-width: 768px) {
  input {
    font-size: 1.6rem;
    padding: 0.6rem;
  }
  input:focus {
    outline: 2px solid var(--secondary);
  }
}
