.modalContainer {
  z-index: 2000;
}

.searchDiv {
  width: 60vw;
  height: 60vh;
  top: 0;
  /* background-color: aliceblue; */
}
.closeBtn {
  float: right;
  /* position: absolute; */
  transform: translateY(-90%);
  top: -10px;
  right: 0;
  border-color: rgb(218, 4, 47);
  color: rgb(218, 4, 47);
}

.closeBtn:hover {
  background-color: rgb(200, 37, 70);
  color: rgb(224, 224, 224);
  border-style: solid;
  border-radius: 0.5rem;
  cursor: pointer;
}

.searchResult {
  width: 60vw;
  background-color: rgb(230, 243, 255);
  height: 60vh;
  border-radius: 4px;
  margin-top: 2%;
  overflow-y: scroll;
  scrollbar-color: light;
  white-space: no-wrap;
}

.searchInnerDiv {
  padding: 2% 3% 2% 3%;
}
