.inline-text {
  font-size: 16px;
  overflow: wrap;
}
.inline-img{
  width: 50vw;
}
.inline-image-text {
  width: 45%;
  float: left;
}

.post-caption {
  color: rgb(96, 96, 96);
  padding-top: 1%;
}

.paginationDiv {
  padding-top: 10%;
}
