@import url("https://fonts.googleapis.com/css2?family=DM+Sans&family=Noto+Sans:wght@300;400;500;600;900&family=Open+Sans:wght@300&family=PT+Sans&family=Poppins:wght@100;400&display=swap");


.banner {
  background-color: #fff;
  height: 200vh;
  border-bottom: 1px solid #fff;
}

@media (max-width: 992px) {
  .banner {
    background-size: 100%;
    height: auto;
    margin-top: 40px;
  }
}

@media (min-width: 993px) {
  .container {
    max-width: 960px;
  }
}

@media (min-width: 1200px) {
  .container {
    max-width: 1140px;
  }
}

.container {
  width: 100%;
  margin-right: auto;
  margin-left: auto;
}
.form{
display: flex;
align-items: center;
text-align: center;
height: 200vh;
padding-top:13%
}

@media (max-width: 992px) {
  .container {
    height: 150vh;
  }
}